USE bibliotheque_db;
GO
ALTER TRIGGER trg_emprunts_retard ON emprunts AFTER UPDATE AS
BEGIN
    SET NOCOUNT ON;
    IF (SELECT COUNT(*) FROM inserted WHERE statut = 'En retard') = (SELECT COUNT(*) FROM inserted)
        RETURN;
    UPDATE e
    SET statut = 'En retard', updated_at = CURRENT_TIMESTAMP
    FROM emprunts e
    INNER JOIN inserted i ON e.id_emprunt = i.id_emprunt
    WHERE i.statut = 'En cours'
      AND i.date_retour_prevue < CAST(CURRENT_TIMESTAMP AS DATE);
END;
GO
ALTER TRIGGER trg_update_emprunts ON emprunts AFTER UPDATE AS
BEGIN
    SET NOCOUNT ON;
    IF UPDATE(updated_at)
        RETURN;
    UPDATE emprunts
    SET updated_at = CURRENT_TIMESTAMP
    FROM emprunts
    INNER JOIN inserted ON emprunts.id_emprunt = inserted.id_emprunt;
END;
GO
